<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="stylesheet/logo3.png" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Football stats</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/AccueilCSS.css') }}">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <img src="styleSheet/logo3.png"  id="logo" alt="logo"></p>
    <br>
    <h1> <strong>  Bienvenue dans Football Stats ! </strong> </h1>
    <p> <strong>Içi vous trouverez toutes les statistiques que vous souhaitez sur vos équipes favorites.</strong>
    </p> 
    <form action="vue2.html">
        <button type="submit"  class="button"> <span> Voir les statistiques d'une équipe </span></button>
    </form>   

    <form action="vue1.html">
        <button type="submit"  class="button2"> <span> Comparer deux équipes </span></button>
    </form>  
   
    
    <script>
        var app = new Vue({
            el:"#app",
            data: {
              
            },
            methods:{
             
            }
        })
    </script>
</body>
</html>
    