<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="stylesheet/logo1.ico" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="stylesheet/VueCSS.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <img src="styleSheet/logo1.JPG"  id="logo" alt="logo"></p>
    <div id="app">
        <div class="contrainer">
            <div class="row">
                <p class="jumbotron"> Equipe choisie : <input type="text" v-model="équipe"/>  </p>
            </div>
            <h1 class="display-4"> Joueurs selectionnés </h1>
            <ul>
                <li v-for="liste in listes">{{ liste }} </li>
            </ul>

            <div class="row">
                <div class="col-3" v-for="joueur in joueurs">
                    <p class="jumbotron">
                    {{ joueur }} <br>
                    <button v-on:click="Choisir(joueur)" > Choisir </button> 
                    </p>

                </div>

            </div>
        </div>
        
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data: {
                équipe: "Liverpool",
                joueurs: ["Mane", "Salah", "Van Dijk"],
                listes: []
            },
            methods:{
                Choisir: function(joueur) {
                    this.listes.push(joueur);

                }
            }
        })
    </script>
</body>
</html>