 
    body{
      background: linear-gradient(#686f77,white);
      background-repeat:no-repeat;
      background-image: url(foot.jpg);
    }

    #logo{
      position: absolute;
      width:150px;
      bottom:80%;
      left: 3%;
      height: 150px;
    }
    
    h1 {
    color: white;
    text-align:center;



    }

    p {
      font-family: Trebuchet MS;
      color :  #f4511e; 
      text-align: center;
      vertical-align: center;
      line-height: 20em;
      white-space: nowrap;
      font-size: 25px;
    }

   .button {
  position: absolute;
  left:23%;
  top: 80%;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  text-align: center;
}



.button span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
  position: absolute;
  left:60%;
  top: 80%;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
  text-align: center;
}



.button2 span {
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}